body {
    background-color: #ECECEC;
    font-size: 25px;
}
h3{
    font-size: 35px;
    line-height: 1.5;
    font-weight: bolder;
    color: #f67280
}
.list-group-item{
    background-color: #fecea8;
}

.list-group-item2{
    background-color: #355c7d;
}
h2{
    font-size: 30px;
    line-height: 1.5;
    font-weight: bolder;
    color: #355c7d;
}

h5{
    line-height: 1.5;
    color:  #f67280;
}
li {
    font-size: 20px;
    color: #474747;
}
p{
    font-size: 20px;
    color: #474747;
}

a{
    font-size: 20px;
    color: #474747;
}
.container {
    max-width: 1200px; 
}

.header {
    text-align: center;
    color: white;
    font-size: 30px;
  }

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 4rem;
    overflow-y: hidden;
    font-size: 27px;
    padding-inline-start: .50rem;
    padding-inline-end: .50rem;
}

.pb-1, .py-1{
    padding-bottom: .25rem!important;
}

.pt-1, .py-1{
    padding-top: .25rem!important;
}
.mb-2, .my-2{
    margin-bottom: .5rem!important;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    padding-bottom: 1.5rem;
}
.table{
    max-height: 600px;
}